Repository wooahan-agile/idu-market-server, pull requests merged in 2021-04, with the labels that each got.

#159 [purchaselists] 구매목록 API 구현
  app/package-lock.json
  app/src/models/services/PurchaseList/PurchaseList.js
  app/src/models/services/PurchaseList/PurchaseListStorage.js
  app/src/tests/profile.spec.js
  app/src/tests/purchaseList.spec.js
  app/src/tests/saleList.spec.js
  app/src/tests/serach.spec.js
  app/src/tests/watchlist.spec.js
Labels: API, 기능 구현, 서버

#161 [profile] 프로필 API 구현
  app/src/middlewares/s3.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Profile/Profile.js
  app/src/models/services/Profile/ProfileStorage.js
  app/src/tests/comment.spec.js
  app/src/tests/profile.spec.js
  app/src/tests/purchaseList.spec.js
  app/src/tests/saleList.spec.js
  app/src/tests/serach.spec.js
  app/src/tests/watchlist.spec.js
Labels: API, 기능 구현, 서버

#163 [v0.1.0] AWS 클라우드 배포
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/tests/board.spec.js
Labels: 배포, 서버

#164 [TDD] 테스트 주도 개발
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/tests/root.spec.js
  app/src/tests/saleList.spec.js
  app/src/tests/serach.spec.js
Labels: API, 서버

#166 [profile] 프로필 API 구현
  app/src/apis/image/image.ctrl.ts
  app/src/apis/profile/profile.ctrl.ts
  app/src/apis/purchase-list/purchase-list.ctrl.ts
  app/src/apis/sale-list/sale-list.ctrl.ts
  app/src/apis/watch-list/watch-list.ctrl.ts
  app/src/models/services/Profile/Profile.ts
  app/src/models/services/WatchList/WatchList.ts
Labels: API, 기능 구현, 서버

#170 [image] image 관련 API 구현
  app/src/apis/image/image.ctrl.ts
Labels: API, 기능 구현, 서버

#171 [image] image 관련 API 구현
  app/src/apis/image/image.ctrl.ts
Labels: API, 서버
