Repository wooahan-agile/idu-market-server, pull requests merged in 2021-07, with the labels that each got.

#244 [apiSecure] API 보안을 위한 인증 처리
  .DS_Store
  README.md
  app/.DS_Store
  app/app.ts
  app/package.json
  app/src/.DS_Store
  app/src/apis/boards/index.ts
  app/src/apis/image/index.ts
  app/src/apis/inquiry/index.ts
  app/src/apis/notification/index.ts
  app/src/apis/profile/index.ts
  app/src/apis/purchase-list/index.ts
  app/src/apis/root/index.ts
  app/src/apis/sale-list/index.ts
  app/src/apis/search/index.ts
  app/src/apis/view/index.ts
  app/src/apis/watch-list/index.ts
  app/src/middlewares/apiAuth.ts
Labels: API, 기능 구현, 서버

#243 [image] NHN Cloud 이미지 관련 API 구현
  app/app.ts
  app/dump.rdb
  app/src/apis/image/image.ctrl.ts
  app/src/apis/image/index.ts
  app/src/middlewares/s3.ts
  app/src/models/services/Board/Board.ts
  app/src/models/services/Board/BoardStorage.ts
Labels: API, 기능 구현, 기획 및 설계, 서버

#245 [v.1.1.0] 자동 배포 테스트
  app/app.ts
  app/dump.rdb
  app/src/apis/boards/index.ts
  app/src/apis/image/image.ctrl.ts
  app/src/apis/image/index.ts
  app/src/apis/inquiry/index.ts
  app/src/apis/notification/index.ts
  app/src/apis/profile/index.ts
  app/src/apis/purchase-list/index.ts
  app/src/apis/root/index.ts
  app/src/apis/sale-list/index.ts
  app/src/apis/search/index.ts
  app/src/apis/view/index.ts
  app/src/apis/watch-list/index.ts
  app/src/middlewares/apiAuth.ts
  app/src/middlewares/s3.ts
  app/src/models/services/Board/Board.ts
  app/src/models/services/Board/BoardStorage.ts
Labels: API, 배포, 서버

#246 [mobileMain] 모바일용 메인 화면 API 구현 완료
  app/app.ts
  app/package-lock.json
  app/package.json
  app/src/apis/mobile/index.ts
  app/src/apis/mobile/mobile.ctrl.ts
  app/src/models/services/Board/Board.ts
  app/src/models/services/Board/BoardStorage.ts
Labels: API, DB, 기능 구현, 기획 및 설계, 서버

#247 모바일용 Main 화면 API 추가
  app/app.ts
  app/package-lock.json
  app/package.json
  app/src/apis/mobile/index.ts
  app/src/apis/mobile/mobile.ctrl.ts
  app/src/models/services/Board/Board.ts
  app/src/models/services/Board/BoardStorage.ts
Labels: API, DB, 기능 구현, 기획 및 설계, 서버
